
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAreaLabel" translate="istartApp.area.home.createOrEditLabel">Create or edit a Area</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.area.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.areaid" for="field_areaid">Areaid</label>
            <input type="text" class="form-control" name="areaid" id="field_areaid"
                    ng-model="vm.area.areaid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.area.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.parentid" for="field_parentid">Parentid</label>
            <input type="text" class="form-control" name="parentid" id="field_parentid"
                    ng-model="vm.area.parentid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.parentname" for="field_parentname">Parentname</label>
            <input type="text" class="form-control" name="parentname" id="field_parentname"
                    ng-model="vm.area.parentname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.addr" for="field_addr">Addr</label>
            <input type="text" class="form-control" name="addr" id="field_addr"
                    ng-model="vm.area.addr"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.area.level"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.isleaf" for="field_isleaf">Isleaf</label>
            <input type="checkbox" class="form-control" name="isleaf" id="field_isleaf"
                    ng-model="vm.area.isleaf"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.createDatetime" for="field_createDatetime">CreateDatetime</label>
                <div class="input-group">
                    <input id="field_createDatetime" type="text" class="form-control" name="createDatetime" datetime-picker="{{dateformat}}" ng-model="vm.area.createDatetime" is-open="vm.datePickerOpenStatus.createDatetime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.modifiyDatetime" for="field_modifiyDatetime">ModifiyDatetime</label>
                <div class="input-group">
                    <input id="field_modifiyDatetime" type="text" class="form-control" name="modifiyDatetime" datetime-picker="{{dateformat}}" ng-model="vm.area.modifiyDatetime" is-open="vm.datePickerOpenStatus.modifiyDatetime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modifiyDatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="istartApp.area.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.area.status" id="field_status">
                <option value="q" translate="istartApp.DataStatus.q">q</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
