<div>
    <h2 translate="istartApp.area.home.title">Areas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="area.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="istartApp.area.home.createLabel">
                        Create new Area
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'istartApp.area.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="areaid"><span translate="istartApp.area.areaid">Areaid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="istartApp.area.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentid"><span translate="istartApp.area.parentid">Parentid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentname"><span translate="istartApp.area.parentname">Parentname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addr"><span translate="istartApp.area.addr">Addr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="level"><span translate="istartApp.area.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isleaf"><span translate="istartApp.area.isleaf">Isleaf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDatetime"><span translate="istartApp.area.createDatetime">CreateDatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiyDatetime"><span translate="istartApp.area.modifiyDatetime">ModifiyDatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="istartApp.area.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="area in vm.areas track by area.id">
                    <td><a ui-sref="area-detail({id:area.id})">{{area.id}}</a></td>
                    <td>{{area.areaid}}</td>
                    <td>{{area.name}}</td>
                    <td>{{area.parentid}}</td>
                    <td>{{area.parentname}}</td>
                    <td>{{area.addr}}</td>
                    <td>{{area.level}}</td>
                    <td>{{area.isleaf}}</td>
                    <td>{{area.createDatetime | date:'medium'}}</td>
                    <td>{{area.modifiyDatetime | date:'medium'}}</td>
                    <td translate="{{'istartApp.DataStatus.' + area.status}}">{{area.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="area-detail({id:area.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="area.edit({id:area.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="area.delete({id:area.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
